.header_dark {
    background-color: #333;
}
.header_dark h1 {
    color: #EEE;
}
.header_dark .topnav a {
    color: #EEE;
}
.header_dark .topnav a:hover {
    background-color: #D62828;
}

.main_dark {
    background-color: #555;
    color: #EEE;
}

.footer_dark {
    background-color: #333;
    color: #EEE;
}
.footer_dark a {
    color: #EEE;
}
.footer_dark .rightFooter .icon-wrapper a {
    color: #CCC;
}
.footer_dark .rightFooter .icon-wrapper a:hover {
    color: #EEE;
}

.hr_dark {border: 2px solid #D62828;}
.button_dark {background-color: #D62828}